@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4k1kw9');
  src:  url('fonts/icomoon.eot?4k1kw9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4k1kw9') format('truetype'),
    url('fonts/icomoon.woff?4k1kw9') format('woff'),
    url('fonts/icomoon.svg?4k1kw9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand{
  font-family: "Dancing Script",sans-serif;
  font-size: 40px;
  color:#6c63ff;
}

.icon-mail:before {
  content: "\ea86";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eaca";
}

:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 1000px;
  font-family: 'Crimson Text', serif;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.github-link{
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 24px;
  text-decoration: none;
}

.img {
  display: flex;
  align-items: center;
}

.carousel-item img{
    max-height: 600px;
    height: 100%;
    width: 100%;
}

.about-row{
  min-height: 650px;
}


@media (max-width: 767px){
  .row {
    display: flex;
    flex-direction: colomn;
  }

  h1{
    font-size: 36px;
    color: #6c63ff;
    font-weight: 700;
  }

  h2,h3{
    font-size: 26px;
  }

  .about-row{
    min-height: 300px;
  }
}

@media (min-width: 768px) { 
  .about-row{
    min-height: 420px;
  }
 }

@media (min-width: 992px) { 
  .about-row{
    min-height: 580px;
  }
 }

